.widefat th.lvl99-dbs-filelist-col-radio,
.widefat td.lvl99-dbs-filelist-col-radio {
  width: 5%;
  text-align: center;
}
.widefat th.lvl99-dbs-filelist-col-file,
.widefat td.lvl99-dbs-filelist-col-file {
  width: 45%;
  text-align: left;
}
.widefat th.lvl99-dbs-filelist-col-size,
.widefat td.lvl99-dbs-filelist-col-size {
  width: 15%;
  text-align: center;
}
.widefat th.lvl99-dbs-filelist-col-created,
.widefat td.lvl99-dbs-filelist-col-created {
  width: 15%;
  text-align: center;
}
.widefat th.lvl99-dbs-filelist-col-controls,
.widefat td.lvl99-dbs-filelist-col-controls {
  width: 20%;
  text-align: center;
}
.lvl99-dbs-page {
  padding: 1em 3em 3em;
  background: #fff;
  border: solid 1px #ccc;
  border-top: 0;
}
.lvl99-dbs-intro {
  padding-bottom: 1em;
  margin: 1em 0 1em;
  border-bottom: solid 1px #e5e5e5;
  font-size: 1.2em;
  line-height: 1.4em;
}
.lvl99-dbs-intro p {
  font-size: 1.1em;
  line-height: 1.4em;
}
.lvl99-dbs-section {
  margin: 3em 0;
}
.list-text {
  display: block;
  list-style: disc;
  margin-left: 2em;
}
.list-text li {
  list-style: disc;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
.lvl99-dbs-filter-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.lvl99-dbs-filter-item:before,
.lvl99-dbs-filter-item:after {
  content: ' ';
  display: table;
}
.lvl99-dbs-filter-item:after {
  clear: both;
}
.lvl99-dbs-filter-method,
.lvl99-dbs-filter-input,
.lvl99-dbs-filter-output,
.lvl99-dbs-filter-controls {
  float: left;
  line-height: 2em;
  vertical-align: middle;
  margin-right: 10px;
}
.lvl99-dbs-filter-input input[type=text],
.lvl99-dbs-filter-output input[type=text] {
  width: 100%;
  min-width: 200px;
  box-sizing: border-box;
  padding: 0.3em;
}
.lvl99-dbs-tablelist {
  padding-top: 1em;
  padding-left: 1em;
}
