.widefat th.lvl99-dbs-filelist-col-radio,
.widefat td.lvl99-dbs-filelist-col-radio {
  width: 5%;
  text-align: center;
}
.widefat th.lvl99-dbs-filelist-col-file,
.widefat td.lvl99-dbs-filelist-col-file {
  width: 55%;
  text-align: left;
}
.widefat th.lvl99-dbs-filelist-col-controls,
.widefat td.lvl99-dbs-filelist-col-controls {
  width: 30%;
  text-align: left;
}
.lvl99-dbs-page {
  padding: 1em 3em 3em;
  background: #fff;
  border: solid 1px #ccc;
  border-top: 0;
}
.lvl99-dbs-intro {
  padding-bottom: 1em;
  margin: 1em 0 1em;
  border-bottom: solid 1px #e5e5e5;
  font-size: 1.2em;
  line-height: 1.4em;
}
.lvl99-dbs-intro p {
  font-size: 1.1em;
  line-height: 1.4em;
}
.lvl99-dbs-section {
  margin: 3em 0;
}
.list-text {
  display: block;
  list-style: disc;
  margin-left: 2em;
}
.list-text li {
  list-style: disc;
}
