/*
 * LVL99 Database Sync Styles
 */
/*
 * LVL99 Plugin base styles
 */
.lvl99-plugin-page {
  padding: 1em 3em 3em;
  background: #fff;
  border: solid 1px #ccc;
  border-top: 0;
  position: relative;
}
.lvl99-plugin-intro {
  padding-bottom: 1em;
  margin: 1em 0 1em;
  border-bottom: solid 1px #e5e5e5;
  font-size: 1.2em;
  line-height: 1.4em;
}
.lvl99-plugin-intro p {
  font-size: 1.1em;
  line-height: 1.4em;
}
.lvl99-plugin-section {
  margin: 3em 0;
}
.list-text {
  display: block;
  list-style: disc;
  margin-left: 2em;
}
.list-text li {
  list-style: disc;
}
.lvl99-plugin-option {
  padding-bottom: 1em;
}
.lvl99-plugin-option-label {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}
.lvl99-plugin-notice > :first-child,
.lvl99-plugin-option-help > :first-child {
  margin-top: 0;
}
.lvl99-plugin-notice > :last-child,
.lvl99-plugin-option-help > :last-child {
  margin-bottom: 0;
}
.lvl99-plugin-notice .small,
.lvl99-plugin-option-help .small {
  color: #999;
  font-size: 0.9em;
}
.lvl99-plugin-notice .large,
.lvl99-plugin-option-help .large {
  font-size: 1.2em;
}
.lvl99-plugin-notice {
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  border: solid 1px #ccc;
  background: #eee;
  color: #000;
}
.lvl99-plugin-notice-warning {
  border: solid 1px #c00;
  color: #c00;
  background-color: #fcc;
}
.lvl99-plugin-option {
  margin-bottom: 1em;
}
.lvl99-plugin-option-help {
  margin-bottom: 1em;
}
.lvl99-plugin-option-help-after {
  color: #999;
  margin-top: 1em;
  margin-bottom: 0;
}
.lvl99-plugin-option-value {
  display: block;
}
.lvl99-plugin-option-value-label {
  display: inline-block;
  vertical-align: top;
}
.lvl99-plugin-option-value-description {
  color: #999;
  font-size: 0.9em;
}
.lvl99-plugin-option-group {
  margin-bottom: 2em;
}
.lvl99-plugin-option-group > .lvl99-plugin-option {
  padding-left: 2em;
  border-left: solid 3px #eee;
}
.lvl99-sortable-handle {
  font-family: 'FontAwesome';
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.widefat th.lvl99-dbs-filelist-col-radio,
.widefat td.lvl99-dbs-filelist-col-radio {
  width: 5%;
  text-align: center;
}
.widefat th.lvl99-dbs-filelist-col-file,
.widefat td.lvl99-dbs-filelist-col-file {
  width: 45%;
  text-align: left;
}
.widefat th.lvl99-dbs-filelist-col-size,
.widefat td.lvl99-dbs-filelist-col-size {
  width: 15%;
  text-align: center;
}
.widefat th.lvl99-dbs-filelist-col-created,
.widefat td.lvl99-dbs-filelist-col-created {
  width: 15%;
  text-align: center;
}
.widefat th.lvl99-dbs-filelist-col-controls,
.widefat td.lvl99-dbs-filelist-col-controls {
  width: 20%;
  text-align: center;
}
.lvl99-dbs-page {
  padding: 1em 3em 3em;
  background: #fff;
  border: solid 1px #ccc;
  border-top: 0;
}
.lvl99-dbs-intro {
  padding-bottom: 1em;
  margin: 1em 0 1em;
  border-bottom: solid 1px #e5e5e5;
  font-size: 1.2em;
  line-height: 1.4em;
}
.lvl99-dbs-intro p {
  font-size: 1.1em;
  line-height: 1.4em;
}
.lvl99-dbs-section {
  margin: 3em 0;
}
.list-text {
  display: block;
  list-style: disc;
  margin-left: 2em;
}
.list-text li {
  list-style: disc;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
.lvl99-dbs-filter-item {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.lvl99-dbs-filter-item:before,
.lvl99-dbs-filter-item:after {
  content: ' ';
  display: table;
}
.lvl99-dbs-filter-item:after {
  clear: both;
}
.lvl99-dbs-filter-method,
.lvl99-dbs-filter-input,
.lvl99-dbs-filter-output,
.lvl99-dbs-filter-controls {
  float: left;
  line-height: 2em;
  vertical-align: middle;
  margin-right: 10px;
}
.lvl99-dbs-filter-input input[type=text],
.lvl99-dbs-filter-output input[type=text] {
  width: 100%;
  min-width: 200px;
  box-sizing: border-box;
  padding: 0.3em;
}
.lvl99-dbs-tablelist {
  padding-top: 1em;
  padding-left: 1em;
}
.lvl99-dbs-loading {
  font-style: italic;
  color: #666;
}
.lvl99-dbs-loading-spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  background: transparent url('../media/loading-spinner-24x24.gif') no-repeat center center;
}
form[disabled] button,
form[disabled] .button,
form[disabled] input[type=button],
form[disabled] input[type=submit] {
  opacity: 0.5;
}
